<%= form_for(@product) do |f| %>
  <p>
    <%= f.label :product_type %><br>
    <%= f.text_field :product_type, required: true, autofocus: true, placeholder: "Enter product product_type" %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, required: true %>
  </p>

  <div class=”field”> (Upload your new profile picture below!)
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>